#app-bar {
	$height: $app-bar-height;

	position:fixed;
	width: 100%;
	background-color: #000;
	color: #fff;
	height: $height;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);	

	.title-container {
		padding: 0 $app-horizontal-padding;
		margin: 0 auto;
		max-width: $app-max-width;
		height: $height;
		line-height: $height;
	}
}