.board {
	position: absolute;
	height: 100%;
	width: 100%;
	
	// Скрывает полоску справа в chrome
	display: grid;
	// grid-gap: 5px;
	& > * {
		border-color: #ffeb3b;
		border-width: 8px;
	}

	@media (max-width: 400px) {
		& > * {
			border-width: 4px;
		}	
	}
	// grid-template-columns - определяется в js
}