// CSS Trick: flexible square
// Некорректно работает в firefox
.flexible-squares {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);

	.square {
		position: relative;
		overflow: hidden;

		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
			float: left;
		}
	}
}