#list-games {
	.user-name-container {
		padding: 20px 0;
		max-width: 400px;

		.user-name-input {
			display: block;
			padding: 10px 0 15px 0;
			font-size: 20px;
			border: none;
			border-bottom: 2px solid #ddd;
			width: 100%;
		}
	}

	.square {
		background: #eee;
		&:before {
			float: left;
			content: "";
			padding-top: 100%;
		}
	}

	.game-preview-list {
		flex-grow: 1;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(3, 1fr);

		.game-preview {
			flex: 1fr;
		}
	}

	$create-button-right: 50px;
	.create-new-game {
		height: 50px;
		width: 50px;
		float: right;
		position: fixed;
		bottom: 50px;
		right: calc((100% - #{$app-max-width}) / 2 + #{$create-button-right});
	}

	@media (max-width: $app-max-width) {
		.create-new-game {
			right: $create-button-right;
		}
	}
	
}
