#list-games {
	// Ввод имени пользователя
	.user-name-container {
		padding: 20px 0;
		max-width: 400px;

		.user-name-input {
			display: block;
			padding: 10px 0 15px 0;
			font-size: 20px;
			border: none;
			border-bottom: 2px solid #ddd;
			width: 100%;
		}
	}

	// Overlay 
	.overlay {
		position: fixed;
		top: $app-bar-height;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,.4);
	}

	// Зафиксированная кнопка для отображения диалога создания игры
	$create-button-right: 50px;
	.create-new-game {
		font-weight: bold;
		height: 50px;
		width: 50px;
		float: right;
		position: fixed;
		bottom: 50px;
		// Справа от границы contant-container
		right: calc((100% - #{$app-max-width}) / 2 + #{$create-button-right});
	}
	@media (max-width: $app-max-width) {
		.create-new-game {
			right: $create-button-right;
		}
	}

	// Изменение количества столбцов списка game preview 
	@media (min-width: 700px) {
		.flexible-squares {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	@media (max-width: 538px) {
		.flexible-squares {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 330px) {
		.flexible-squares {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
