.round-button {
	$size: 35px;
	$button-background: $main-color;
	color: #fff;

	display: flex;
	text-decoration: none;
	background-color: $button-background;
	width: $size;
	height: $size;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-size: 18px;

	@include backgroundColorDarkenHover($button-background);

	&:hover {
		cursor: pointer;
	}
}