@import 'utility';
@import 'config';
@import 'appbar';
@import 'board';
@import 'roundbutton';
@import 'button';
@import 'newgamedialog';
@import 'listgamespage';
@import 'gamepreview';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	background-color: #eee;		
}

.content-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: $app-max-width;
	background-color: #fff;
	min-height: 100vh;
	padding: 0 $app-horizontal-padding;
	padding-top: $app-bar-height;
}
